<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" />
  <package id="NaCl.Net" version="0.1.13" />
  <package id="NetMQ" version="4.0.2.2" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.4" manuallyInstalled="true" />
  <package id="Numpy" version="3.11.1.35" manuallyInstalled="true" />
  <package id="Python.Deployment" version="2.0.0" />
  <package id="Python.Included" version="3.11.1" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.ServiceModel.Primitives" version="8.1.2" />
  <package id="pythonnet" version="3.0.1" />
</packages>